@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

:root {
  --text: 16px;
  --text-sm: 14px;
  --text-xsm: 12px;
  --text-md: 20px;
  --text-lg: 24px;

  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px;

  --primary: #1d5764;
  --secondary: #ececec;
  --semi-secondary: #8aa7ae;
  --card-background: #f1f1f1;
  --text-color: #1d5764;
  --text-heading: #0c3a45;
  --black: #000000;


  --white: #fefefe;
  --background: #fefefe;
  --background-secondary: #D2DDE0;
  --success: #5cdd2c;
  --error: #ff4d4f;
  --warning: #faad14;

  --green: #1ec895;
  --yellow: #ff862e;
  --purple: #9646ef;
  --red: #f73463;

  /* lighter shades of color */
  --green-200: color.scale($green, $lightness: 70%);
  --yellow-200: color.scale($yellow, $lightness: 70%);
  --purple-200: color.scale($purple, $lightness: 70%);
  --red-200: color.scale($red, $lightness: 70%);

  --green-100: color.scale($green, $lightness: 85%);
  --yellow-100: color.scale($yellow, $lightness: 85%);
  --purple-100: color.scale($purple, $lightness: 85%);
  --red-100: color.scale($red, $lightness: 85%);

  --gray-10: #fafcff;
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;

  --background: $gray-50;
  --secondary-100: $gray-200;
  --secondary-200: $gray-300;

  --marg-xl: 24px;
  --marg-lg: 16px;
  --marg-md: 10px;
  --marg-sm: 6px;
  --marg-xs: 4px;

  /* --text-h1: 28px;
--text-h2: 24px;
--text-h3: 20px;
--text-h4: 18px;
--text-h5: 16px;
--text-md: 14px;
--text-sm: 13px;
--text-xs: 12px; */

  --radi-sm: 4px;
  --radi-md: 6px;
  --radi-lg: 8px;

  --border: 2px solid $gray-200;
  --shadow: 1px 3px 8px 1px $gray-200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

.text {
  font-size: var(--text);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xsm {
  font-size: var(--text-xsm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}
